.table-schedule td, .table-schedule th {
    text-align: center;
    vertical-align: middle !important;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}