<table class="table table-bordered table-hover table-schedule">
    <tr>
        <td colspan="14">
            Неделя
            <input #num type="number" min="1" max="{{weeks.length}}" value="{{selectedWeek.id}}" (change)="selectWeek(num.value)">
        </td>
    </tr>
    <tr class="info">
        <th rowspan="2">День</th>
        <th rowspan="2">Окно</th>
        <th rowspan="2">Клиент</th>
        <th rowspan="2">Экспедитор</th>
        <th colspan="2">Кол-во паллет</th>
        <th rowspan="2" class="hidden-xs">Реализация</th>
        <th rowspan="2" class="hidden-xs">Машина</th>
        <th rowspan="2" class="hidden-xs">Водитель</th>
        <th rowspan="2" class="hidden-xs">Телефон</th>
        <th rowspan="2">Прибытие</th>
        <th rowspan="2">Отгрузка</th>
        <th rowspan="2" class="visible-lg">Комментарии</th>
    </tr>
    <tr class="info">
        <th>План</th>
        <th>Факт</th>
    </tr>
    <template ngFor #day let-day [ngForOf]="days">
        <tr *ngFor="let interval of INTERVALS">
            <td *ngIf="interval.index==1" rowspan="4" class="active">
                {{day.name}}<br>
                <span class="visible-lg">{{selectedWeek.getFormattedDate(day)}}</span>
            </td>
            <td class="active">{{interval}}</td>
            <td>{{customers.length}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td></td>
            <td></td>
            <td class="visible-lg"></td>
        </tr>
    </template>
</table>

